<app-delivery-nav-bar></app-delivery-nav-bar>
<br>

<div class="container z-depth-3" style="padding: 30px">
  <table class="highlight">
    <thead>
      <tr>
        <th >Order #</th>
        <th >From</th>
        <th >To</th>
        <th >Source City</th>
        <th >Destination City</th>
        <th >Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of srcaddr">
        <td>{{ item.order_id }}</td>
        <td>{{ item.fname }}</td>
        <td>{{ item.d.fname }}</td>
        <td>{{ item.city }}</td>
        <td>{{ item.d.city }}</td>
        <td> <strong> {{ item.order_status }} </strong></td>
        <td> <a (click)="OrderUpdate( item )" class="btn-floating waves-effect waves-light red"><i class="material-icons">expand_more</i></a> </td>
      </tr>
    </tbody>
  </table>
</div>