<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper orange">
        <div class="container">
          <a href="#" class="brand-logo"> {{ userName }} </a>
  
          <ul class="right hide-on-med-and-down">
            <li><a routerLink="/admin/home">Dashboard</a></li>
            <li><a routerLink="/admin/order/pickup">Ship Order</a></li>
            <li><a routerLink="/admin/status">Order Status</a></li>
            <li><a routerLink="/user/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>