<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <a href="#" class="brand-logo"> {{ userName }} </a>

        <ul class="right hide-on-med-and-down">
          <li><a routerLink="/user/home">Dashboard</a></li>
          <li><a routerLink="/user/order/pickup">Ship Order</a></li>
          <li><a routerLink="/user/status">Order Status</a></li>
          <li><a routerLink="/user/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>