<!-- <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <a href="#" class="brand-logo"> {{ userName }} </a>

        <ul class="right hide-on-med-and-down">
          <li><a routerLink="/user/home">Dashboard</a></li>
          <li><a routerLink="/user/order/pickup">Ship Order</a></li>
          <li><a routerLink="/user/status">Order Status</a></li>
          <li><a routerLink="/user/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div> -->

<nav>
    <div class="nav-wrapper">
      <div class="container">
        <a href="#" class="brand-logo"> {{ userName }} </a>
        <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

        <ul class="right hide-on-med-and-down">
            <li><a routerLink="/user/home">Dashboard</a></li>
            <li><a routerLink="/user/order/pickup">Ship Order</a></li>
            <li><a routerLink="/user/status">Order Status</a></li>
            <li><a routerLink="/user/logout">Logout</a></li>
        </ul>
    </div>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
      <li><a routerLink="/user/home">Dashboard</a></li>
      <li><a routerLink="/user/order/pickup">Ship Order</a></li>
      <li><a routerLink="/user/status">Order Status</a></li>
      <li><a routerLink="/user/logout">Logout</a></li>
  </ul>
          