<!-- <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper blue">
      <div class="container">
        <a href="#" class="brand-logo ">Courier Management System</a>
      
        <ul class="right hide-on-med-and-down">
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="/register">Register</a></li>
          <li><a routerLink="/login">Login</a></li>
        </ul>

      </div>
    </div>
  </nav>
</div> -->


<nav>
    <div class="nav-wrapper blue">
      <div class="container">
        <a class="brand-logo hide-on-med-and-down">Courier Management System</a>
        <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-small-only">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="/register">Register</a></li>
            <li><a routerLink="/login">Login</a></li>
        </ul>
    </div>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="/register">Register</a></li>
      <li><a routerLink="/login">Login</a></li>
  </ul>
          